<template>
    <section>
        <div v-if="players" class="score-board">
            <div class="flexer">
                <h1 class="display-1 align-center board-title">Score Board</h1>
                <div class="userScore">
                    <table>
                        <thead>
                            <th>
                                Nickname
                            </th>
                            <th>
                                Score
                            </th>
                        </thead>
                        <tbody>
                            <tr v-for="(player,idx) in players" :key="idx">
                                <td>
                                    {{idx+1}}.{{player.nickname}}
                                </td>
                                <td>
                                    {{player.score}}
                                </td>
                                <td>
                                    <social-sharing :url="'https://swalla.herokuapp.com/my-game/details/' " title="" description="" quote="" hashtags="vuejs,javascript,framework"
                                        twitter-user="vuejs" inline-template>
                                        <div>
                                            <network network="facebook">
                                                <v-btn flat color="teal" value="share">
                                                    <span>Share</span>
                                                    <v-icon>share</v-icon>
                                                </v-btn>
                                            </network>
                                        </div>
                                    </social-sharing>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</template>